<html>

  <head>
    <title>User</title>
  </head>

  <body>
    <% if flash[:success] %>
    <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
    <% end %>

  <div class="card border-info m-5">
      <div class="card-header"><center>
        <h1>Voici la liste des potins</h1>

        <main role="main" class="container"></br>
      <div class="starter-template">
        <p class="lead">Tu peux aussi nous raconter ton ragot ;)!.</p>
      </div>
    <% if flash[:success] %>
    <div class="alert alert-success" role="alert"><%= flash[:success] %>
    </div>
    <% end %>
    <a href="/gossips/new" class="btn btn-outline-danger">New</a></br></br>

    <div class="container"><center>
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;"><center>
              <div class="card-body">
                <div class="card-body">
                  <h5 class="text-info" class="card-title"><%= user.first_name %></h5>
                  <p class="card-text"><b><%= user.last_name %></b></p>
                  <a href="/gossips/<%= user.id %>" class="btn btn-outline-danger">Voir plus</a>
                </div>
              </div>
            </div></br>
          </div>
        <% end %>
  </div></br></br>
      </div>
    </div>
  </body>

</html>
