<html>
  <body>
    <!-- ... -->
    <% if flash[:error] %>
    <div class="alert alert-danger role="alert"><%= flash[:error] %></div>
    <% end %>

    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'First_name' %>
      <%= text_field_tag 'firs_name', @user.firs_name %>
      <br /> <br />

      <%= label_tag 'Last_name' %>
      <%= text_area_tag 'last_name', @user.last_name %>
      <br /> <br />

      <%= submit_tag "Create User" %>

    <% end %>

    <!-- ... -->
  </body>
</html>
