<html>
  <body>
    <!-- ... -->
    <% if flash[:error] %>
    <div class="alert alert-danger role="alert"><%= flash[:error] %></div>
    <% end %></br>

      <div class="starter-template"><center></br>
        <p class="lead">Raconte nous tout ;)!.</p>
      </div>
    <div class="container"><center></br>

      <%= form_tag url_for(action: 'create'), method: "post" do %>

        <%= label_tag 'Title' %>
        <%= text_field_tag 'title', @gossip.title %>
        <br /> <br />

        <%= label_tag 'Content' %>
        <%= text_area_tag 'content', @gossip.content %>
        <br /> <br />

        <%= submit_tag "Create Post" %>

      <% end %>

    </div></br></br></br></br></br></br></br></br></br></br>

    <!-- ... -->
  </body>
</html>
